.output
        {
        background-color: aquamarine;
         height: 90vh;
        width: 100%;
        border: 1px solid black;
        overflow: hidden;
        cursor: grab;
        }

.box{
    position: relative;
    left:50%;
    top:50%; 
    width: 90px;
    height:150px;
    border-radius: 15px;
    background-image:url('img/SANYA2.png');
    background-size: 90px;
}
.s{
    color:green;
}
.a{
    color:red;
    float:right;
}

