.output
        {
        background-image: url('https://i.ibb.co/HpdSHMf/background.jpg');
        background-size: cover;
        height: 90vh;
        width: 100%;
        border: 1px solid black;
        overflow: hidden;
        cursor: grab;
        }

.box{
    position: relative;
    left:50%;
    top:50%; 
    width: 90px;
    height:150px;
    border-radius: 15px;
    background-image:url('https://i.ibb.co/2tWKJLL/SANYA2.png');
    background-size: 90px;
}
